@import url(https://fonts.googleapis.com/css?family=Aldrich);
@import url(https://fonts.googleapis.com/css?family=Poppins);

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #f0f0f0 #000000;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 11px;
}

*::-webkit-scrollbar-track {
  background: #000000;
}

*::-webkit-scrollbar-thumb {
  background-color: #f0f0f0;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

body {
  overflow-y: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

#thxDialog {
  color: #fff;
  font-family: Poppins;
  background-color: rgba(0, 0, 0, 1);
  border-radius: 10px;
}
#thxDialog button {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.99);
  color: #fff;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.hyperspace {
  background-color: transparent;
  opacity: 1;
  transition: opacity 3.5s;
}

.contact-form {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: space-around;
}
.send {
  margin: 3%;
  margin-top: 25px;
}
.job-header {
  display: flex;
  border-bottom: solid 1px white;
  margin-bottom: 1px;
  flex-direction: column;
}

.job-title-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 0.5vw 0;
  margin-top: 15px;
}
.underline {
  text-decoration: underline;
}

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

textarea,
input {
  font-family: Poppins;
  border-radius: 15px;
  padding: 5px;
}

.presentation {
  font-size: 2em;
}
.icon {
  margin: 5px;
}

main {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: white;
  font-family: Poppins;
}
footer {
  position: fixed;
  bottom: 0;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: row;
}
.hide {
  display: none;
}
.height-full {
  height: 100%;
}

header {
  grid-column: 2/5;
  font-family: Poppins;
  display: flex;
  flex-direction: column;
}
.standard-planet {
  grid-column: 7/12;
}

section {
  display: block;
  background-color: rgba(0, 0, 0, 0.97);
  height: fit-content;
  padding: 3vw 3vh;
  font-family: Poppins;
  border-radius: 10px;
  max-height: 0vh;
  overflow-y: auto;
  margin-top: 3vh;
  transition: max-height 3s;
}

section.grow {
  max-height: 63vh;
}

a {
  color: #fff;
  text-decoration: underline;
}

button {
  font-family: Aldrich;
  font-weight: bold;
  background-color: #e6e6e8;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #fff, 0 0 0.8rem #fff,
    0 0 2.8rem #fff, inset 0 0 1.3rem #fff;
  margin: 5px;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  height: fit-content;
  cursor: pointer;
  transition: box-shadow 1s;
}
button:hover {
  box-shadow: 0 0 0.1rem #fff, 0 0 0.1rem #fff, 0 0 1rem #fff, 0 0 0.8rem #fff,
    0 0 1.8rem #fff, inset 0 0 0.3rem #fff;
}

.ready {
  grid-column: 2/4;
}

.back {
  grid-column: 1/1;
  /* margin-top: 5vh; */
  cursor: pointer;
}
button.back::before {
  content: "←";
}
.title {
  display: flex;
  flex-direction: row;
  align-items: center;

  /* justify-content: space-between; */
}
.img-title {
  border-radius: 50%;
  width: 30%;
  max-width: 250px;
  max-height: 250px;
  margin-left: 20px;
  margin-right: 20px;
  min-width: 80px;
  min-height: 80px;
}
@media only screen and (max-width: 1024px) {
  header {
    grid-column: 2/6;
    font-family: Poppins;
  }
  .standard-planet {
    grid-column: 4/12;
  }
}

@media only screen and (max-width: 768px) {
  header {
    grid-column: 2/10;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
  }
  .presentation {
    font-size: 1.8em;
  }

  #CONTACTS p {
    font-size: 0.8em;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    min-height: 30vh;
    justify-content: space-around;
    font-size: 0.8em;
  }

  .standard-planet {
    grid-column: 2/12;
  }

  .back {
    grid-column: 1/4;
    /* margin-top: 5vh; */
    cursor: pointer;
  }
}

@media only screen and (max-width: 491px) {
  header {
    grid-column: 2/12;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
  }
  header p {
    font-size: 1em;
  }
  .presentation {
    font-size: 1.2em;
  }

  .under-title-labels {
    font-size: 0.8em;
  }
  footer {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 425px) {
  header {
    grid-column: 2/12;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
  }
  p {
    font-size: 0.9em;
  }

  .job-title-date {
    font-size: 1em;
  }

  .job-title-date div:nth-child(1) {
    font-size: 1em;
  }
  .job-title-date div:nth-child(2) {
    font-size: 0.7em;
  }
}

@media only screen and (max-width: 320px) {
  header {
    grid-column: 2/12;
    font-family: Poppins;
    display: flex;
    flex-direction: column;
  }
  p {
    font-size: 0.9em;
  }
}
